<section>
   <div class="page-header">
    <h1>Bodyweights</h1>
  </div>
  
  <div>
    <table class="table table-stripped">
      <thead>
        <th>Date</th>
        <th>Max</th>
        <th>Min</th>
        <th>Variance</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr ng-repeat="bodyweight in vm.bodyweights">
          <td ng-bind="bodyweight.date | date:'mediumDate'"></td>
          <td ng-bind="bodyweight.max"></td>
          <td ng-bind="bodyweight.min"></td>
          <td>{{bodyweight.max-bodyweight.min}}</td>
          <td>
              <a class="btn btn-primary"
                  ui-sref="bodyweights.edit({ bodyweightId: bodyweight._id })">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.bodyweights.$resolved && !vm.bodyweights.length">
    No Bodyweights yet, why don't you <a ui-sref="bodyweights.create">create one</a>?
  </div> 
</section>
